
<form action="/teams" method="post">

<label>Super Hero Details</label><br>
Super Hero Name: <input id="sh_name_1" type="text" name="super_hero[name]"><br>
Super Hero Power: <input id="sh_power_1" type="text" name="super_hero[power]"><br>
Super Hero Bio: <input id="sh_bio_1" type="text" name="super_hero[bio]"><br>

Super Hero Name: <input id="sh_name_2" type="text" name="super_hero[name]"><br>
Super Hero Power: <input id="sh_power_2"type="text" name="super_hero[power]"><br>
Super Hero Bio: <input id="sh_bio_2" type="text" name="super_hero[bio]"><br>

Super Hero Name: <input id="sh_name_3" type="text" name="super_hero[name]"><br>
Super Hero Power: <input id="sh_power_3" type="text" name="super_hero[power]"><br>
Super Hero Bio: <input id="sh_bio_3" type="text" name="super_hero[bio]"><br>

<label>Super Hero Teams</label>
Team Name: <input id="team_name_1" type="text" name="super_hero[teams][][name]"
Team Motto: <input id="team_motto_1" type="text" name="super_hero[teams][][motto]"

<input type="submit" value="Submit">
</form>

